@font-face {
  font-family: "Inter";
  src: url(./assets/fonts/Inter.ttf);
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-color: hsl(0, 0%, 8%);
  padding: 16px;
  font-family: "Inter";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 425px;
  text-align: center;
}

main {
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-bottom: 16px;
}

h1 {
  font-size: 22px;
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  margin-bottom: 8px;
}

h2 {
  font-size: 14px;
  color: hsl(75, 94%, 57%);
  font-weight: 600;
  margin-bottom: 16px;
}

p {
  font-size: 14px;
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

.link {
  background-color: hsl(0, 0%, 20%);
  width: 100%;
  margin-top: 16px;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  color: hsl(0, 0%, 100%);
}

.link:link {
  text-decoration: none;
}

.link:visited {
  text-decoration: none;
}

.link:hover {
  text-decoration: none;
  color: hsl(0, 0%, 8%);
  background-color: hsl(75, 94%, 57%);
}

.link:active {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 8px;
  font-size: 11px;
  color: white;
}

footer a {
  color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 600px) {
  main {
    padding: 32px;
  }
}
